@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para barra de rolagem (opcional, fica mais bonito) */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #ffffff;
  color: #111111;
}